<a href="https://colab.research.google.com/github/RaynerMorla21/Cervical-Cancer-Risk-Factors/blob/main/PythonTutorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

You may watch this [Python Tutorial Video](https://youtu.be/kqtD5dpn9C8?feature=shared&t=249) to help you understand each section.

To run the code in individual sections, hover the mouse on the left side of the code space and click the *play/run* button.
You can also use keys *"Shift + Return"*

In [1]:
print("Hello World!")

Hello World!

# **Variables**

In [3]:
age = 20
print(age)

20

*Practice*: Change the value of age and print it out in the following space.

In [4]:
age = 45
print(age)

45

Deep Dive: different **types** of variables.

In [5]:
age = 20
price = 19.99
first_name = "Mr. Doe"
is_online = True
print(first_name + " is " + str(age) + " years old")

Mr. Doe is 20 years old

*Exercise*: Check in a new patient named James Smith, who is 20 years old.

In [41]:
age = 20
first_name = "James"
last_name = "Smith"
print(first_name + " "  +  last_name + " is " + str(age) + " years old")

James Smith is 20 years old

**Input**

In [15]:
name = input("what is your name ")
print("Hello " + name)

what is your name Rayner
Hello Rayner

**Type conversion**

1. Error: the input is read in as a string, which cannot be operated on with a number.

In [45]:
birth_year = input("Enter your birth year ")
age = 2024 - (birth_year)
print (age)

Enter your birth year 2002

TypeError: unsupported operand type(s) for -: 'int' and 'str'

Fixing the code: convert string input to integer

In [43]:
birth_year = input("Enter your birth year ")
age = 2024 - int(birth_year)#very simple the reason why it didnt work in the previous cell was beacuse it was a string not an integer
print (age)

Enter your birth year 2002
22

Exercise: Basic calculator. Adding two numbers

In [23]:
10.1 + 20 #this could solve the question

30.1

In [24]:
first = input("First: ")
second = input("Second: ")
sum = float(first) + float(second)
print("Sum: " + str(sum)) # the reason i also did this ways was beacuse i watched the video therofore i know the point of the excercise was to understand that we need to be clear about the variables we are trying to add

First: 10.1
Second: 20
Sum: 30.1

**Strings**

In [44]:
# The string class contains a lot of built-in methods
course = 'Discover AI'#each letter has a value 0123456 thereforewhen we use the funtion find it finds its numerical value
print(course.find('e'))

6

In [31]:
course = 'Discover AI'
print(course.replace('AI', 'Machine Learning'))

Discover Machine Learning

# **Operators**

1. Arthmetic Operators

In [32]:
# Addition
print("10 + 3 = " + str(10 + 3))

# Subtraction
print("10 - 3 = " + str(10 - 3))

# Multiplication
print("10 * 3 = " + str(10 * 3))

# Division
print("10 / 3 = " + str(10 / 3))

# Division with integer
print("10 //3 = " + str(10 // 3))

# Modulus
print("10 % 3 = " + str(10 % 3))

# Exponent
print("10 ** 3 = " + str(10 ** 3))

10 + 3 = 13
10 - 3 = 7
10 * 3 = 30
10 / 3 = 3.3333333333333335
10 //3 = 3
10 % 3 = 1
10 ** 3 = 1000

In [33]:
# Augmented operators
x = 10
x += 3
print(x)

13

Operator Precedence

In [34]:
x = 10 + 3 * 2
print (x)

16

2. Comparison Operators

In [35]:
# They return boolean (True/False) solutions

# Greater than
print("10 > 3: " + str(10 > 3))
# Greater than or equal to
print("3 >= 3: " + str(10 >= 3))
# Less than
print("10 < 3: " + str(10 < 3))
# Less than or equal to
print("10 <= 3: " + str(10 <= 3))
# Equal
print("10 == 3: " + str(10 == 3))
# Not equal
print("10 != 3: " + str(10 != 3))

10 > 3: True
3 >= 3: True
10 < 3: False
10 <= 3: False
10 == 3: False
10 != 3: True

4. Logical Operators

In [36]:
# Used for building complex rules and conditions

# Using "and" check that a price is between two values
price = 25
print("Price between 10 and 30: " + str(price > 10 and price < 30))

# Using "or" check that a price is either of two values
price = 25
print("Price is either 10 or 30: " + str(price == 10 or price == 30))

# Using "not" check that a price is less than a value
price = 25
print("Price is less than 30: " + str(not price > 30))

Price between 10 and 30: True
Price is either 10 or 30: False
Price is less than 30: True

# **If Statements**

In [37]:
# Used to make decisions

# Print a message if the temperature is > 30
temperature = 35
if(temperature > 30):
    print("It's a hot day")
    print("Drink plenty of water")
# Everything below will be outside of the conditional statement
print ("Done")

It's a hot day
Drink plenty of water
Done

*Practice* Add a condition for printing "It's a nice day" if the temperature is between 20 and 30

In [38]:
temperature = 25
if(temperature > 30):
    print("It's a hot day")
    print("Drink plenty of water")

**Exercise**

* Get weight as input
* Get unit as input (Kgs or Lbs)
* Display weight converted to the opposite unit

# **Loops**

In [40]:
i = 1
while i <= 1000:
    print(i)
    i = i + 1

# **Lists**

In [ ]:
# list of names
names = ["Jane", "John", "Mary", "Sam", "Safi"]
print(names)

# print the first three names

# Add a name at the head of the list

List methods

In [ ]:
numbers = [1, 2, 3, 4, 5, 6]
# Append

# Insert

# Remove

# Clear

# In
print(10 in numbers)
# Len
print (len(numbers))

## **For Loops**

In [ ]:
numbers = [1, 2, 3, 4, 5,]
for item in numbers:
    print (item)

**Range function**

In [ ]:
# The function can have 1 to 3 arguments.

# 1. generate numbers up to a value
numbers = range(5)
for number in numbers:
    print(number)

**Tuples**

In [ ]:
# Immutable (unchangeable) elements
numbers = (1, 2, 3)